<p-toast></p-toast>
<p-toolbar styleClass="p-mb-4">
  <ng-template pTemplate="left">
    <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2" (click)="openNew()"></button>
  </ng-template>

  <ng-template pTemplate="right">
    <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"></button>
  </ng-template>
</p-toolbar>

<div class="card">
  <p-table #dt [value]="employeeList" [rows]="10" [paginator]="true" [rowHover]="true" [globalFilterFields]="[
  employeeList
        ]" dataKey="id" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [showCurrentPageReport]="true">
    <ng-template pTemplate="caption">
      <div class="p-d-flex p-ai-center p-jc-between">
        <h3 class="p-m-0">Employee Details</h3>
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input pInputText type="text" (input)="dt.filterGlobal($event.target, 'contains')" placeholder="Search..." />
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th [hidden]="true" field="id">Employee Id</th>
        <th pSortableColumn="employeeId">Employee Id <p-sortIcon field="employeeId"></p-sortIcon>
        <th pSortableColumn="employeeName">Employee Name <p-sortIcon field="employeeName"></p-sortIcon>
        <th pSortableColumn="employeeNumber">Contact Number<p-sortIcon field="employeeNumber"></p-sortIcon>
        <th pSortableColumn="employeeLocation">Location <p-sortIcon field="employeeLocation"></p-sortIcon>
        <th pSortableColumn="employeeDepartment">Department <p-sortIcon field="employeeDepartment"></p-sortIcon>
        </th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
        <tr>
          <td>{{ product.employeeId}}</td>
          <td>{{ product.name }}</td>
          <td>{{ product.phoneNumber}}</td>
          <td>{{ product.location}}</td>
          <td>{{ product.department}}</td>
          <td>
            <button
              pButton
              pRipple
              icon="pi pi-pencil"
              class="p-button-rounded p-button-success p-mr-2"
              (click)="EditEmployee(product.id)"
            ></button>
            <button
              pButton
              pRipple
              icon="pi pi-trash"
              class="p-button-rounded p-button-warning"
              (click)="DelteAssetType(product.id,product.name)"
            ></button>
          </td>
        </tr>
      </ng-template>
    <ng-template pTemplate="summary">
      <div class="p-d-flex p-ai-center p-jc-between">
        In total there are {{ employeeList ? employeeList.length : 0 }} Employee.
      </div>
    </ng-template>
  </p-table>
</div>

<p-dialog [(visible)]="addEmployeeDialog" [style]="{width: '450px'}" header="Add Employee" [modal]="true"
  styleClass="p-fluid">
  <ng-template pTemplate="content">
    <form [formGroup]="EmployeeForm">
      <input type="text" pInputText [hidden]="true" formControlName="Id" /> 
      <div class="p-field">
        <label for="empId">Employee Id *</label>
        <input id="empId" type="text" formControlName="EmployeeId" pInputText />
        <small class="form-field-error" *ngIf="EmployeeForm.get('EmployeeId')?.invalid && (EmployeeForm.get('EmployeeId')?.dirty || EmployeeForm.get('EmployeeId')?.touched)">
          Employee Id is required.
         </small>
      </div>
      <div class="p-field">
        <label for="empName">Employee Name *</label>
        <input id="name" type="text" formControlName="Name" pInputText />
        <small class="form-field-error" *ngIf="EmployeeForm.get('Name')?.invalid && (EmployeeForm.get('Name')?.dirty || EmployeeForm.get('Name')?.touched)">
         Employee Name is required.
        </small>
      </div>
      <div class="p-field">
        <label for="conNum">Contact Number *</label>
        <input id="phoneNumber" type="text" formControlName="PhoneNumber" pInputText />
        <small class="form-field-error" *ngIf="EmployeeForm.get('PhoneNumber')?.invalid && (EmployeeForm.get('PhoneNumber')?.dirty || EmployeeForm.get('PhoneNumber')?.touched)">
          Invalid phone number format.
        </small>
      </div>

      <div class="p-field">
        <label for="dep">Department *</label>
        <p-dropdown [options]="DepartmentDropdown" [filter]="true" filterBy="departmentName" formControlName="DepartmentId" placeholder="Select a Department" optionLabel="departmentName" optionValue="id" id="dep"
          [showClear]="true"></p-dropdown>
        <small class="form-field-error" *ngIf="EmployeeForm.get('DepartmentId')?.invalid && (EmployeeForm.get('DepartmentId')?.dirty || EmployeeForm.get('DepartmentId')?.touched)">
            Department is required.
        </small>
      </div>

      <div class="p-field">
        <label for="loc">Location *</label>
        <p-dropdown [options]="locationDropdown" [filter]="true" filterBy="locationName" formControlName="LocationId" placeholder="Select a Location" id="loc" optionLabel="locationName" optionValue="id"
          [showClear]="true"></p-dropdown>
        <small class="form-field-error" *ngIf="EmployeeForm.get('LocationId')?.invalid && (EmployeeForm.get('LocationId')?.dirty || EmployeeForm.get('LocationId')?.touched)">
            Location is required.
        </small>
      </div>
    </form>

  </ng-template>

  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-danger" (click)="hideDialog()"></button>
    <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-success"  [disabled]="EmployeeForm.invalid" (click)="saveEmployee()"></button>
  </ng-template>
</p-dialog>


<p-dialog [(visible)]="EditEmployeeDialog" [style]="{width: '450px'}" header="Add Employee" [modal]="true"
  styleClass="p-fluid">
  <ng-template pTemplate="content">
      <form [formGroup]="EmployeeForm">
        <input type="text" pInputText [hidden]="true" formControlName="Id" /> 
        <div class="p-field">
          <label for="empId">Employee Id *</label>
          <input id="empId" type="text" formControlName="EmployeeId" pInputText />
          <small class="form-field-error" *ngIf="EmployeeForm.get('EmployeeId')?.invalid && (EmployeeForm.get('EmployeeId')?.dirty || EmployeeForm.get('EmployeeId')?.touched)">
            Employee Id is required.
           </small>
        </div>
        <div class="p-field">
          <label for="empName">Employee Name *</label>
          <input id="name" type="text" formControlName="Name" pInputText />
          <small class="form-field-error" *ngIf="EmployeeForm.get('Name')?.invalid && (EmployeeForm.get('Name')?.dirty || EmployeeForm.get('Name')?.touched)">
           Employee Name is required.
          </small>
        </div>
        <div class="p-field">
          <label for="conNum">Contact Number *</label>
          <input id="phoneNumber" type="text" formControlName="PhoneNumber" pInputText />
          <small class="form-field-error" *ngIf="EmployeeForm.get('PhoneNumber')?.invalid && (EmployeeForm.get('PhoneNumber')?.dirty || EmployeeForm.get('PhoneNumber')?.touched)">
            Invalid phone number format.
          </small>
        </div>
  
        <div class="p-field">
          <label for="dep">Department *</label>
          <p-dropdown [options]="DepartmentDropdown" [filter]="true" filterBy="departmentName" formControlName="DepartmentId" placeholder="Select a Department" optionLabel="departmentName" optionValue="id" id="dep"
            [showClear]="true"></p-dropdown>
          <small class="form-field-error" *ngIf="EmployeeForm.get('DepartmentId')?.invalid && (EmployeeForm.get('DepartmentId')?.dirty || EmployeeForm.get('DepartmentId')?.touched)">
              Department is required.
          </small>
        </div>
  
        <div class="p-field">
          <label for="loc">Location *</label>
          <p-dropdown [options]="locationDropdown" [filter]="true" filterBy="locationName" formControlName="LocationId" placeholder="Select a Location" id="loc" optionLabel="locationName" optionValue="id"
            [showClear]="true"></p-dropdown>
          <small class="form-field-error" *ngIf="EmployeeForm.get('LocationId')?.invalid && (EmployeeForm.get('LocationId')?.dirty || EmployeeForm.get('LocationId')?.touched)">
              Location is required.
          </small>
        </div>
      </form>
  </ng-template>

  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-danger" (click)="hideDialog()"></button>
    <button pButton pRipple label="Save" [disabled]="EmployeeForm.invalid" icon="pi pi-check" class="p-button-success" (click)="saveEmployee()"></button>
  </ng-template>
</p-dialog>

<p-dialog header="Delete Confirmation" [(visible)]="displayDeleteConfirmation" [style]="{width: '50vw'}" [baseZIndex]="10000" [draggable]="false" [resizable]="false">
  <p>Are you sure do you want to delete this Asset Type <b>{{DeleteEmployee}}</b></p>
  <p-button  icon="pi pi-times" (click)="noDelete()" label="No" styleClass="p-button-danger"></p-button>
  <p-button  icon="pi pi-check" (click)="yesDelete()" label="Yes" styleClass="p-button-success"></p-button>
</p-dialog>