<p-toolbar styleClass="p-mb-4">
    <ng-template pTemplate="left">
        <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2" (click)="openNew()"></button>
    </ng-template>

    <ng-template pTemplate="right">
         <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"></button>
    </ng-template>
</p-toolbar>

<p-table #dt  [rows]="10" [paginator]="true" [globalFilterFields]="['assettype']"

currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
<ng-template pTemplate="caption">
    <div class="p-d-flex p-ai-center p-jc-between">
        <h3 class="p-m-0">Asset Types</h3>
        <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input pInputText type="text"  placeholder="Search..." />
        </span>
    </div>
</ng-template>
<ng-template pTemplate="header">
    <tr>
        <th pSortableColumn="assettype">Asset Type<p-sortIcon field="assettype"></p-sortIcon></th>
        <th>Action</th>
    </tr>
    <!-- <ng-template pTemplate="body" let-product>
        <tr>
            <td>
                {{AssetTypeList}}
            </td>
            </tr>
    </ng-template> -->
</ng-template>
</p-table>

<p-dialog header="Add Asset Type" [(visible)]="assetDialog" [style]="{width: '50vw'}" [baseZIndex]="10000">
    <ng-template pTemplate="content">
    <form [formGroup]="assetTypeForm">         
            <div class="p-field">
                <label for="assettype">Asset Type</label>
                <input type="text" pInputText id="assettype" formControlName="AssetTypeName"  required autofocus />
            </div>
    </form>
    </ng-template>
    <ng-template pTemplate="footer">
        <p-button  icon="pi pi-times" (click)="hideDialog()" label="Cancel" styleClass="p-button-danger"></p-button>
        <p-button  icon="pi pi-check" (click)="saveAsset()" label="Save" styleClass="p-button-success" [disabled]="!assetTypeForm.valid"></p-button>
    </ng-template>
</p-dialog>
