<p-toast></p-toast>
<p-toolbar styleClass="p-mb-4">
    <ng-template pTemplate="left">
        <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2" (click)="openNew()"></button>
    </ng-template>

    <ng-template pTemplate="right">
         <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"></button>
    </ng-template>
</p-toolbar>

<div class="card">
    <p-table
      #dt
      [value]="CpuTypeList"
      [rows]="10"
      [paginator]="true"
      [rowHover]="true"
      [globalFilterFields]="[
      CpuTypeList
        ]"
      dataKey="id"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [showCurrentPageReport]="true"
    >
    <ng-template pTemplate="caption">
        <div class="p-d-flex p-ai-center p-jc-between">
          <h3 class="p-m-0">Cpu Types</h3>
          <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input
              pInputText
              type="text"
              (input)="dt.filterGlobal($event.target, 'contains')"
              placeholder="Search..."
            />
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th [hidden]="true" field="id">Id</th>
          <th pSortableColumn="cpuTypeName">
            Processor Type <p-sortIcon field="cpuTypeName"></p-sortIcon>
          </th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product>
        <tr>
          <td>{{ product.cpuTypeName }}</td>
          <td>
            <button
              pButton
              pRipple
              icon="pi pi-pencil"
              class="p-button-rounded p-button-success p-mr-2"
              (click)="EditCpuType(product.id)"
            ></button>
            <button
              pButton
              pRipple
              icon="pi pi-trash"
              class="p-button-rounded p-button-warning"
              (click)="DeleteCpuType(product.id,product.assetTypeName)"
            ></button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        <div class="p-d-flex p-ai-center p-jc-between">
          In total there are {{ CpuTypeList ? CpuTypeList.length : 0 }} Asset Types.
        </div>
      </ng-template>
    </p-table>
  </div>

<p-dialog header="Add CPU Type" [(visible)]="cpuDialog" [style]="{width: '50vw'}" [baseZIndex]="10000">
    <ng-template pTemplate="content">
    <form [formGroup]="cpuTypeForm">     
            <input type="text" pInputText id="Id" [hidden]="true" formControlName="Id"  autofocus />       
            <div class="p-field">
                <label for="cputype">Processor Type</label>
                <input type="text" pInputText id="cputype" formControlName="CpuTypeName"  required autofocus />
            </div>
    </form>
    </ng-template>
    <ng-template pTemplate="footer">
        <p-button  icon="pi pi-times" (click)="hideDialog()" label="Cancel" styleClass="p-button-danger"></p-button>
        <p-button  icon="pi pi-check" (click)="saveCpu()" label="Save" styleClass="p-button-success" [disabled]="!cpuTypeForm.valid"></p-button>
    </ng-template>
</p-dialog>


<p-dialog header="Delete Confirmation" [(visible)]="displayDeleteConfirmation" [style]="{width: '50vw'}" [baseZIndex]="10000" [draggable]="false" [resizable]="false">
  <p>Are you sure do you want to delete this Cpu Type <b>{{DeleteCpuTypeDetail}}</b></p>
  <p-button  icon="pi pi-times" (click)="noDelete()" label="No" styleClass="p-button-danger"></p-button>
  <p-button  icon="pi pi-check" (click)="yesDelete()" label="Yes" styleClass="p-button-success"></p-button>
</p-dialog>